div.about-me-container {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    gap: 1vw;
}

div.about-me-narrative {
    flex: 1;
    color: aliceblue;
}

div.about-me-right-window {
    width: 10vw;
    background-color: aquamarine;
}

p.about-me-title {
    color: white;
    font: "Roboto";
    font-size: 5rem;
}

p.about-me-narrative, p.random-placeholder{
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 1rem;
    text-align: justify;
}

p.toc-header {
    color: #025464 ;
    font-family: 'Roboto';
    font-weight: bold;
}

p.toc-header-head {
    color: #025464 ;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: clamp(0.5rem, 1.75rem , 2.5rem);
    text-align: left;
    margin: 1rem;
}

span.about-me-emphasize {
    font-weight: bold;
    color:rgb(255, 210, 133) ;

}

span.material-symbols-outlined {
    color: rgb(255, 169, 71);
}

main.about-me{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

div.sidebar-container{
    position: relative;
    left: 0;
    top: 0;
    background-color: rgb(255, 210, 133);
    height: 100%;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.486);
}

div.sidebar{
    /* background-color: rgba(231, 146, 0); */
    position: fixed;
    display: grid;
    width: auto;
    grid-template-columns: 1fr 3fr;
    left: 0;
    top: 0;
}

circle#circle-lower, circle#circle-upper {
    box-shadow: 14px 14px 4px black;
}
