div.about-me-container {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    gap: 1vw;
}

div.about-me-title {
    flex: 1;
    color: aliceblue;
}

div.about-me-right-window {
    width: 10vw;
    background-color: aquamarine;
}

p.about-me-title {
    color: white;
    font: "Roboto";
    font-size: 5rem;
}

p.about-me-narrative {
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    text-align: justify;

}

span.about-me-emphasize {
    font-weight: bold;
    color:rgb(255, 210, 133) ;

}

span.material-symbols-outlined {
    color: rgb(255, 169, 71);
}