p.icon {
    text-align: center;
    margin: 0px;
    font-size: 1vh;
}


div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 10vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


div.left-header {
    width: 10vh;
}


div.right-header {
    color: aliceblue;
    /* background-color: aqua; */
    flex: 1;
    height: 100%;
}

div.icon_container_head {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
}

div.icon_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2%;
}

img.logo {
    max-width: 70%;
    margin-left: 25px;
}

