p.icon {
    text-align: center;
    margin: 0px;
    font-size: 1vh;
}


div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 10vh;
    background-color: rgb(2, 84, 100);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


div.left-header {
    width: 10vh;
}


div.right-header {
    color: aliceblue;
    /* background-color: aqua; */
    flex: 1;
    height: 100%;
}

div.icon_container_head {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
}

div.icon_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2%;
}

img.logo {
    max-width: 70%;
    margin-left: 25px;
}


span.material-symbols-outlined {
    color: rgb(232, 170, 66);
    text-align: center;
    cursor: pointer;
    transition: color 0.2s, font-size 0.2s, margin-left 0.2s;
    font-size: 5vh;
}

span.material-symbols-outlined:hover {
    color: rgb(232, 170, 66);
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    font-size: 6vh;
}