section.section1 {
  background-color: #E8AA42;
  height: 100%;
  width: 100%;
  margin:0 0 0 0;
  padding:0;
}

div.section1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 3vh;
  margin-left: 8vw;
  margin-right: 8vw;
  padding-bottom: 3vh;
  border-style: solid;
  border-color: black;
  box-shadow: 5px 5px 10px rgb(69, 69, 69);
  border-radius: 10px;
}

div.section1-a-mid-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left:7.5vw;
  margin-right: 7.5vw;
}


h1.header-text-about {
  color: rgb(2, 84, 100);
  margin-top: 2vh;
  font-weight: 900;
  font-size: clamp(1rem,2vw + 0.75rem,3rem);
  font-family: "Wix Madefor Text";
  text-align: center;

}

div.timeline {
  display: flex;
  flex-direction: row;

}

div.timeline-box {
  display: flex;
  justify-content: space-between;
  flex: 1;

  margin: 1vh 2vw 1vh 2vw;
  height: 100vh;
  width: 5vw;
  background-color: rgb(253, 224, 127);
  border-radius: 5rem;
}

div.header-bar {
  margin-left: 2vw;
}

h1.header-textbar {
  font-size: 10rem;
  margin: 0;
}

div.image_hyperlink {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  background-color: #E8AA42;
  margin: 0 3vw 0 3vw;
  font-weight: bold;
  padding: 0 3vw 0 3vw;
}

div.img_link {
  display: flex;
  flex: 1;
  color: black;
  justify-content: center;
  align-items: center;
}

p.link_header {
  font-family: "Roboto";
  font-size: clamp(1rem,1vw + 0.75rem,3rem);
  text-align: center;
}

div.text-hyperlink {
  display: flex;
  gap: 2vw;
  margin: 0 3vw 0 3vw;
  padding: 0 3vw 0 3vw;
}
div.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 3vw 0 3vw;
  justify-content: space-between;
  align-items: center;
}

p.link-text {
  display: block;
  text-align: center;
  line-height: clamp(1rem, 2vh + 0.5rem,3rem);
  font-size: clamp(0.5rem,1vw + 0.5rem,2rem);
}

a.link-to-page {
  font-family: "Roboto" ;
  font-weight: bold;
  text-align: center;
  color: rgb(67, 120, 151);
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(1rem,1vw + 0.5rem,3rem);
  transition: font-size 0.3s;
}

a.link-to-page:hover {
  text-decoration: underline;
  font-size: clamp(1rem,1.5vw + 0.5rem,3rem);
  color: rgb(2, 84, 100);
}

a.link-to-page:visited {
  text-decoration: underline;
  font-size: clamp(1rem,1.5vw + 0.5rem,3rem);
  color: rgb(71, 71, 71);
}

hr.divider {
  border: none;
  border-top: 1px solid black;
  width: 90%;
}

div.skill-header {
  margin: 6vh 0 0 0;
}

div.skill-ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: auto;
  margin: 1vh 1vw 2vh 1vw;
  gap: 3vw;
}

footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #E8AA42;
  grid-template-columns: 0.5fr 2fr 1fr;
  justify-content: center;
  /* padding: 2vh 4vw 0 4vw; */
  place-items: center;
  margin-top: 4rem;
  z-index: 3;
}

/* social handles */
.footer-layout-left, .footer-layout-right, .footer-layout-others{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-style: none;
  margin: 1vh 4vw 1vh 4vw;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fde07f;
  box-shadow: 3px 3px 6px black inset;
}

div.footer-contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: center;
}
p.footer-text {
  font-family: "Roboto";
  text-align: center;
  font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
  margin: 0 0 0 0;
}

img.footer-contact {
  min-width: none;
  max-width: 2rem;
}

p.footer-contact {
  font-family: 'Righteous';
  font-size: clamp(0.35rem, 3vw + 0.5rem , 0.75rem);
}