div.stack_banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3vw;
}

div.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

div.stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img.stack-icon {
    width: 35%;
    height: 100%;
    object-fit: cover;
}


p.stack-icon-name {
    display: block;
    color: rgb(2, 84, 100) ;
    font-family: "Roboto";
    font-size: clamp(0.5rem, 1vw + 0.25rem, 1rem);
    font-weight: bold;
    margin-top: 0.5rem ;
    margin-bottom: 0.5rem ;
    opacity: 1;
}
