
p.transition{
    position: relative;
    font-family: "Wix Madefor Text";
    font-size: 8rem;
    color: black;
    font-weight: bold;
    transform: translate(-50%,-50%);
}

.overlay {
    position: absolute;
    background: rgb(232, 170, 66);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: scale(0);
    transform-origin: left;
}

.transition-wipe {
    transition: 0.8s cubic-bezier(.18,.43,.33,.91);
    transform: scaleX(0);
}

html.is-animating .transition-wipe {
    transform: scaleX(1);
}
